<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GetLit&GetLooped</title>
    <meta name="description" content="A raw xmpp stanza looping bot api for Kik messenger. -Provided by @Blazes" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-pink-700">
    <div>
      <div
        class="flex flex-wrap overflow-hidden justify-center rounded-xl border-4 border-pink-700 bg-green-700 text-green h-screen w-full"
      >
        <div class="grid grid-cols-1 gap-4 max-w-5xl w-full mx-4" style="height: 85%">
          <!-- Column Content -->
          <div class="h-full mx-auto justify-center">
            <h3 class="w-full mx-auto text-center text-xl font-extrabold">
              LET'S FUCK SHIT UP
            </h3>
            <textarea
              id="theStanza"
              class="rounded-lg px-4 pt-4 px-6 w-full bg-purple-700 border-2 border-pink-700"
              style="height: 75%"
            ></textarea>
            <input
              id="theTimes"
              type="text"
              class="w-full py-4 my-2 px-6 rounded-lg bg-purple-700 border-2 border-pink-700"
              onfocus="if(this.value==this.defaultValue)this.value='';"
              onblur="if(this.value=='')this.value=this.defaultValue;"
              value="Number of loops."
            />
            <input
              id="theVictim"
              type="text"
              class="w-full py-4 my-2 px-6 rounded-lg bg-purple-700 border-2 border-pink-700"
              onfocus="if(this.value==this.defaultValue)this.value='';"
              onblur="if(this.value=='')this.value=this.defaultValue;"
              value="Bitches Jid"
            />
            <!-- Column Content -->
            <button
              class="bg-pink-600 p-2 rounded-lg mx-auto ml-4 mb-auto -py-24 border-2 border-purple-700"
              onclick="sendStanza()"
            >
              ĞĚŤŘĚĶĶŤ
            </button>
          </div>
        </div>
        <!--         <div class="flex w-full overflow-hidden px-auto justify-center -mt-12">
          <button
            class="bg-blue-500 p-2 rounded-lg mx-auto mb-auto -py-24"
            onclick="sendStanza()"
          >
            Send!
          </button>
        </div> -->
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
