/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #00802b;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

form {
  background-color: #00802b;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid Purple;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #00802b;
  border: 2px solid currentColor;
  border-radius: 1.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 5em 10em;
  max-width: 125ch;
  margin-top: 2px;
}

form button:hover {
  background-color: lightgreen;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgreen;
}
